selenium==4.11.2
split_image==2.0.1
opencv-python==4.8.0.76
flax==0.7.2
keras==2.13.1
tensorflow==2.13.0
orbax-checkpoint==0.3.5
orbax-export==0.0.3
tqdm==4.66.1
matplotlib==3.7.2
pandas==2.0.3
tf2onnx==1.15.1